/* Place CSS styles here */
body {
    background-image: url(../img/concrete.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 16px;
}

h1 {
    color:#000000;
    font-family: "museo", sans-serif;
    font-weight: 600;
    font-size: 6em;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

p {
    font-family: "museo", serif;
    font-weight: 300;
    font-size: 1.5em;
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
}

li {
    font-family: "museo", serif;
    font-weight: 300;
    font-size: 1.5em;
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

.popup {
    opacity: 0;
    background-color: #c4c4c4e6;
    width: 500px;
    height: auto;
    border: 2px solid #000000;
    padding: 20px;
    box-shadow: 5px 5px 10px #000000;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: 1s fadeIn linear forwards;
    animation-delay: 10s;
}

.text {
    font-family: "museo", serif;
    font-weight: 300;
    font-size: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-family: "museo", sans-serif;
    font-weight: 300;
    font-size: 1em;
    padding: 10px 20px;
    border: 2px solid #000000;
    box-shadow: 2px 2px 2px #000000;
    background-color: #c4c4c4e6;
    transition: scale 0.3s ease-in-out;
}

button:hover {
    cursor: pointer;
    transform: scale(1.2);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}